# Partition: par_pm
owner:              TBD
tool:               TBD (ICC2 / Innovus / FC)
priority:           P3
clock_domain:       mclk_meu
clock_period:       186ps
num_ifc_families:   TBD
worst_wns:          TBD
worst_signal:       TBD
