# Partition: <par_name>
owner:              TBD
tool:               TBD (ICC2 / Innovus / FC)
priority:           TBD (P1/P2/P3)
clock_domain:       mclk_meu
clock_period:       186ps
num_ifc_families:   TBD
worst_wns:          TBD
worst_signal:       TBD
