# Partition: par_meu
owner:              TBD
tool:               TBD (ICC2 / Innovus / FC)
priority:           P1
clock_domain:       mclk_meu
clock_period:       186ps
num_ifc_families:   246
worst_wns:          -103ps
worst_signal:       rsslowrobidvpm803h
